<!DOCTYPE html>
<html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <link rel="stylesheet" href="./lib/bootstrap.min.css">
<script src="./lib/angular.min.js"></script> -->

<body ng-app="myApp" ng-controller="mainController">

  <div class="container">

    <h3>Contacts</h3>

    <button class="btn btn-success" ng-click="editContact('new')" ng-hide="!hideform">
      <span class="glyphicon glyphicon-user"></span> Add New Contact
    </button>

    <button class="btn btn-danger" ng-click="cancelEdit()" ng-hide="hideform">
      <span class="glyphicon glyphicon-arrow-left"></span> Cancel
    </button>

    <form class="form-horizontal" ng-hide="hideform">
      <h3 ng-show="edit">Create New Contact:</h3>
      <h3 ng-hide="edit">Edit Contact:</h3>

      <div class="form-group">
        <label class="col-sm-2 control-label">First Name:</label>
        <div class="col-sm-10">
          <input type="text" ng-model="firstname" placeholder="First Name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Last Name:</label>
        <div class="col-sm-10">
          <input type="text" ng-model="lastname" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Nickname:</label>
        <div class="col-sm-10">
          <input type="text" ng-model="nickname" placeholder="Nickname">
        </div>
      </div>

      <hr>

      <button class="btn btn-success" ng-disabled="error || incomplete" ng-click="saveContact">
        <span class="glyphicon glyphicon-save"></span> Save Changes
      </button>
    </form>

    <table class="table table-striped table-hover" ng-hide="!hideform">
      <thead><tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Telephone</th>
        <!-- <th>Edit</th> -->
      </tr></thead>
      <tbody><tr ng-repeat="contact in contacts" ng-click="editContact( contact.id )">
          <td>
            <img src="./img/{{ contact.photo || defaultPhoto }}.jpg"
                 style="height: 9vh"
                 class="img-circle"
                 alt="Contact Picture">
          </td>
          <td>{{ contact.firstname }}</td>
          <td>{{ contact.lastname }}</td>
          <td>{{ contact.telephone }}</td>
        <!-- <td>
          <button class="btn" ng-click="editContact(contact.id)">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
          </button>
        </td> -->
      </tr></tbody>
    </table>

  </div>

  <script src="contacts.js"></script>
</body>
</html>
